@import "./colors.scss";
.back-body {
  background-attachment: scroll;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(1);
  width: 100%;
  z-index: 0;
  background-size: 2091px;
  background-image: url("https://i.pinimg.com/originals/e8/47/4d/e8474d6f96f3c27d1d87266734da721f.jpg");
  filter: blur(10px);
  opacity: 0.1;

  background-position: center;
  background-repeat: repeat;
}
.border {
  height: 2px;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}
.text-select-forg{
  color: $select;
}